* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	max-width: 1920px;
}

.wrapper {
	max-width: 1508px;		
}

.header1 {
	max-width: 1422px;
	height: 70px;
	background-color: #ce9595;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header-top__text {
	color: #000;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
  	margin-right: 10px;
}

.top-nav__link1 {
	min-width: 213px;
}


.top-nav__item {	
	float: left;
	padding: 7px 20px 6px 30px;
	margin-top: 20px;	
}

.top-nav__item:hover {
	background-color: #d8d8d8;
	border-radius: 2px;
}

.search-form {
	position: relative;
	width: 323px;
	height: 30px;
	right: 210px;
	margin-top: 20px;
	float: right;
}

.search-form__input {
	width: 100%;
	height: 30px;
	border-radius: 2px;
	position: absolute;
	padding-left: 13px;
	outline: none;
}

.search-form__button {
	border: none;
	height: 28px;
	width: 28px;
	position: absolute;
	top: 1px;
	right: 0;
	cursor: pointer;
	background: transparent;
}

.search-form__button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #004f9e;
}

.lang-list {
	right: 32px;
	margin-top: 17px;
	position: absolute;
	
}

.lang-list__item {
	
	float: right;
	padding: 10px 8px;
	width: 36px;
}

.lang-list__item:hover {
	background-color: #d8d8d8;
	border-radius: 2px;
}

.header-main {
	height: 53px;
}

.header-main__logo {
	float: left;
	position: absolute;
}

.main-nav__items {
	right: 44px;
	float: right;
	position: absolute;	
}

.main-nav__link {
	color: #004f9e;	
}

.main-nav__link:hover {
	color: #000;
}

.header2 {
	max-width: 1422px;
	height: 54px;
	background-color: #ecc780;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header-main__nav {
	padding-top: 17px;
	margin-left: 250px;
}

.main-nav__item {
	display: inline;
	margin-left: 33px;	
	font-family: 'lato', sans-serif;
	font-weight: 300;
	font-size: 20px;

}